@import url('./globalStyles.css');

.cards__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2.375rem;
}

.card {
    width: 19.25rem;

    background-color: var(--color-grey-8);
    border-radius: var(--radius-1);

    transition: background-color 0.2s;
}

.card:hover {
    background-color: var(--color-grey-6);
}

.card__img img {
    width: 100%;
    border-radius: var(--radius-1) var(--radius-1) 0 0;
}

.card__info {
    display: flex;
    flex-direction: column;
    gap: 1.25rem;

    padding: 1.25rem 1rem;
    margin-top: -0.375rem;
}

.card__artist-section {
    display: flex;
    gap: 1.25rem;
}

.card__artist-name, .card__album-year {
    font-size: .75rem;
    font-weight: var(--font-2-weight);
    color: var(--color-grey-2);
}

.card__album-name {
    font-size: var(--font-2-size);
    font-weight: var(--font-1-weight);
    color: var(--color-grey-0); 
}

.card__buy-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card__price {
    font-size: var(--font-3-size);
    font-weight: var(--font-1-weight);
    color: var(--color-grey-0); 
}


/* Break Points */

@media (min-width: 768px) {

    .app > .app__album-cards > .cards__list {
        justify-content: space-between; 
    }

}