@import url('./globalStyles.css');

.app > .app__filter-genre > .filters > input+label {
    background-color: var(--color-grey-7);
    border: .0625rem solid var(--color-grey-7);
    border-radius: var(--radius-1);

    padding: .5rem;
    
    color: var(--color-grey-2);
    font-size: var(--font-3-size);

    cursor: pointer;

    transition: all 0.2s;
}

.app > .app__filter-genre > .filters > input:hover+label {
    color: var(--color-grey-1);
}

.app > .app__filter-genre > .filters > input:checked+label {
    background-color: var(--color-grey-1);
    border: .0625rem solid var(--color-grey-1);

    color: var(--color-grey-9);
}

.app > .app__filter-price > .filter__input > input {
    appearance: none;
    -webkit-appearance: none;

    width: 100%;
    height: .5rem;

    background: linear-gradient(90deg, var(--color-brand-1) 100%, var(--color-grey-5) 100%);
    border-radius: var(--radius-1);

    cursor: pointer;
}

.app > .app__filter-price > .filter__input > input::-webkit-slider-thumb {
    appearance: none;
    -webkit-appearance: none;

    width: 1.125rem;
    height: 1.125rem;

    background-color: var(--color-white-fixed);
    border: .3125rem solid var(--color-brand-1);
    border-radius: 50%;
}



.app > .app__filter-price > .filter__input > input::-moz-range-thumb {
    width: .5rem;
    height: .5rem;

    background-color: var(--color-white-fixed);
    border: .3125rem solid var(--color-brand-1);
    border-radius: 50%;
}

/* .app > .app__filter-price > .filter__input > input::-moz-range-progress {
    background-color: var(--color-brand-1);
    border-radius: 5px;
    height: .5rem;
} */