@import url('./globalStyles.css');

.app > .app__filter-genre > .filters > input+label {
    background-color: var(--color-grey-7);
    border: .0625rem solid var(--color-grey-7);
    border-radius: var(--radius-1);

    padding: .5rem;
    
    color: var(--color-grey-2);
    font-size: var(--font-3-size);

    cursor: pointer;

    transition: all 0.2s;
}

.app > .app__filter-genre > .filters > input:hover+label {
    color: var(--color-grey-1);
}

.app > .app__filter-genre > .filters > input:checked+label {
    background-color: var(--color-grey-1);
    border: .0625rem solid var(--color-grey-1);

    color: var(--color-grey-9);
}

.app > .app__filter-price > .filter__input > input {
    width: 100%;
}