@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=Nunito:wght@600&display=swap');
@import url('./reset.css');

:root {
  --color-brand-1:#9747ff;
  --color-grey-0: #15171a;
  --color-grey-1: #212529;
  --color-grey-2: #2b2f33;
  --color-grey-3: #868e96;
  --color-grey-4: #adb5bd;
  --color-grey-5: #ced4da;
  --color-grey-6: #dee2e6;
  --color-grey-7: #f1f3f5;
  --color-grey-8: #f8f9fa;
  --color-grey-9: #fdfeff;

  --color-disable-fixed: #212529;
  --color-actived-fixed: #2b2f33;
  --color-white-fixed: #ffffff;

  --font-1-size: 1.75rem;
  --font-2-size: 1rem;
  --font-3-size: 0.875rem;

  --font-1-weight: 600;
  --font-2-weight: 500;

  --radius-1: 0.25rem;
  --container: 45rem;
}

.dark__mode:root {
  --color-brand-1:#9747ff;
  --color-grey-0: #fdfeff;
  --color-grey-1: #f8f9fa;
  --color-grey-2: #f1f3f5;
  --color-grey-3: #dee2e6;
  --color-grey-4: #ced4da;
  --color-grey-5: #adb5bd;
  --color-grey-6: #2B2F33;
  --color-grey-7: #2b2f33;
  --color-grey-8: #212529;
  --color-grey-9: #15171a;
  
  --color-disable-fixed: #f8f9fa;
  --color-actived-fixed: #f1f3f5;
  --color-white-fixed: #ffffff;
  
  --font-1-size: 1.75rem;
  --font-2-size: 1rem;
  --font-3-size: 0.875rem;

  --font-1-weight: 600;
  --font-2-weight: 500;

  --radius-1: 0.25rem;
  --container: 45rem;
}

body {
  display: flex;
  flex-direction: column;
  gap: 4.0625rem;
  margin: 4.375rem auto;

  font-family: "Inter", sans-serif;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  background-color: var(--color-grey-9);
}

.container {
  width: 100%;
  max-width: var(--container);
  padding: 0 1rem;
  margin: 0 auto;
}