/* Desenvolva sua estilização aqui ... */
@import url('./globalStyles.css');

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header h1 {
    font-size: var(--font-1);
    font-weight: 600;
    text-transform: lowercase;
}

.app {
    display: flex;
    flex-direction: column;
    gap: 3.75rem;
}